{%extends 'layout/master.html'%}

{%block head%}
    {{super()}}
    <style>
        .avatar {
            border-radius: 20px;
        }

    </style>
{%endblock%}

{%block content%}

<img src="{{url_for('static',filename='images/banner.jpg')}}" class="img-fluid">

<div class="container" style = "margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>ABOUT ME</h3>
        </div>
    </div>
</div>

<div class="container" style = "margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="{{url_for('static', filename='images/avatar.jpg')}}" class="avatar" height="90%" alt="My Avatar">
        </div>
    </div>
</div>
<div class="container" style="width: 50%;">
    <div class="row">
        <div class="col-md-12">
            <b>Date of birth:</b> 30/06/1995.
        </div>
        <div class="col-md-12">
            <b>Location:</b> HCMC, Vietnam.
        </div>

        <div class="col-sm-12">
            <b>Graduated from:</b> Ho Chi Minh University of Technology (Environmental Engineer)
        </div>
        <div class="col-sm-12">
            <b>Certification:</b>
            <ul>
                <li>Python Developer (January,2020) by HCMUS Computer Science Center</li>
            </ul>
        </div>
        
        <div class="col-md-12">
            <b>Hobbies:</b>
            <ul>
                <li>Reading</li>
                <li>Playing Sports</li>
                <li>Listening Music</li>
                <li>Designing & Developing</li>
            </ul>
        </div>
        <div class="col-md-12">
            <b>Programming Language:</b>
            <ul>
                <li>C (I am just a newbie ^^)</li>
                <li>Python (Intermediate, do not try to mess me up ^^)</li>
                
            </ul>
        </div>
        <div class="col-md-12">
            <b>Framework:</b> Flask.
        </div>
        <div class="col-md-12">
            <b>Front-end programming:</b>
            <ul>
                <li>HTML/CSS</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col-md-12">
            <b>Database:</b>
            <ul>
                <li>SQLite</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>ORM: SQLAlchemy</li>
            </ul>
        </div>
        <div class="col-md-12">
            <b> My products :</b>
            <ul>
                <li>Mae Cosmetics's store managing application (mae-cosmetics.herokuapp.com)</li>
                <li>Lufepoh Blog (lufepoh-blog.herokuapp.com)</li>
            </ul>
        </div>
        <div class="col-md-12">
            <b>Programming books completed:</b>
            <ul>
                <li>Flask Web Development_ Developing Web Applications with Python (Miguel Grinberg, 2018)  </li>
                <li>
                    Head First HTML/CSS (Elisabeth Robson, Eric Freeman, 2012)
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <b>Regular books completed:</b>
            <ul>
                <li>The Road Less Traveled (Scott Peck)</li>
                <li>The Four Agreements (Don Miguel Ruiz)</li>
                <li>Healing The Child Within (Charles Whitfield)</li>
                <li>Healing the Shame that binds you (John Bradshaw)</li>
            </ul>
        </div>

    </div>
</div>

{%endblock%}