{%extends 'layout/master.html'%}

{%block head%}
    {{super()}}
    <style>
        
        #dangnhap {
            position: relative;
            /* left: 100px; */
            top: 20vh;
            width: 40%;
            padding: 20px 20px;
            border-radius: 10px;
        }

        form a:link {
            color: #26490D;
            /* text-decoration: none; */
        }

        form a:hover {
            color: #94D466
        }
    </style>

{%endblock%}
    
{%block content%}
    <div class="container" id="dangnhap" style="color: #0D2249;background-color: white;">
        <h2 class="text-center"><b>Đăng ký</b></h2>
        <hr class="col-md-12" style="border-top: 1px solid white; width: 100%;">
        <form method='POST'>
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(for='email')}}
                {{form.email(class='form-control')}}

            </div>
            <div class="form-group">
                {{form.ten_dang_nhap.label(for='ten_dang_nhap')}}
                {{form.ten_dang_nhap(class='form-control')}}

            </div>
            <div class="form-group">
                {{form.password.label(for='password')}}
                {{form.password(class='form-control')}}

            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    {{form.submit(class='btn btn-success')}}

                </div>
            </div>

        </form>
    </div>
{%endblock%}