{%extends 'layout/master.html'%}

{%block head%}

    {{super()}}
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        a:visited {
            color:  #061F06;
            text-decoration: none;
        }

        a {
            display: inline;
            margin-left: 30px;
        }

        a:link {
            color: #061F06;
            text-decoration: none;
        }

        a:hover {
            color: #94D466;
            text-decoration: none;
            
        }

        a:active{
            color: #061F06;
            text-decoration: none;
        }

        
    </style>

{%endblock%}

{%block content%}

<img src="{{url_for('static',filename='images/banner.jpg')}}" class="img-fluid">

<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-sm-2 text-center">
            <p>
                <img src="{{url_for('static',filename='images/'+post.feeling+'_icon.png')}}" class="img-fluid center">
            </p>
            <p>{{post.date.strftime("%d-%m-%Y")}}</p>
        </div>
        <div class="col-sm-10">
            <h3><b>{{post.title}}</b></h3>

            <p>{{post.text}}</p>

        </div>
    </div>
</div>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        {%if post_number == 0%}
        <div class="col-sm-12 text-center">
            <a href="{{url_for('blog.blog_page',post_number = post_number + 1)}}">
                <i class="fas fa-angle-double-right"></i> Next Post
            </a>

        </div>
        {%elif post_number == (list_post|length-1)%}
        <div class="col-sm-12 text-center">
            <a href="{{url_for('blog.blog_page',post_number = post_number - 1)}}">
                <i class="fas fa-angle-double-left"></i> Previous Post
            </a>

        </div>
        {%elif post_number != 0 and post_number != (list_post|length-1) %}
        <div class="col-sm-6 text-center">
            <a href="{{url_for('blog.blog_page',post_number = post_number - 1)}}">
                <i class="fas fa-angle-double-left"></i> Previous Post
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="{{url_for('blog.blog_page',post_number = post_number + 1)}}">
                <i class="fas fa-angle-double-right"></i> Next Post
            </a>
        </div>
        {%endif%}
    </div>

</div>


{%endblock%}